.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.5rem;
  align-items: center;
}
.header h2 {
  font-size: 4rem;
}
.header h3 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1.3rem;
}
.btn {
  display: inline-block;
  background: #d42990;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  margin-top: 1.3rem;
  font-weight: 500;
}
