.details h2 {
  font-size: 3.5rem;
  margin-top: 4rem;
}
.details h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}
.html {
  margin-top: 2.5rem;
}
.featured {
  margin-bottom: 2.5rem;
}
