.portfolio {
  text-align: center;
}
.portfolio > h2 {
  font-size: 3rem;
  margin-top: 4rem;
}
.portfolio > h3 {
  font-size: 2rem;
  font-weight: 400;
}

.projects {
  display: grid;
  grid-template-columns: 0.65fr;
  justify-content: center;
  grid-gap: 4rem;
  margin: 4rem 0.5rem;
}

@media screen and (max-width: 960px) {
  /* Mobile grid width */
  .projects {
    grid-template-columns: 0.9fr;
  }
}

.projects h3 {
  text-align: center;
  margin: 1.3rem auto 0rem;
  font-weight: 500;
}
.projects p {
  color: #ccc;
  margin-top: 4px;
}

.projects Img {
  transition: all 2s;
}

.projects Img:hover {
  transform: scale(1.2);
}
